# last modified 1 December 2009 by J. Fox

export(col.classes)
export(col.names)
export(connection)
export(read.db)
export(row.name)
export(SQLiteDataset)
export(table.name)
 
S3method("$", SQLiteDataset)
S3method("[", SQLiteDataset)
S3method("[[", SQLiteDataset)
S3method(as.data.frame, SQLiteDataset)
S3method(as.list, SQLiteDataset)
S3method(as.matrix, SQLiteDataset)
S3method(col.classes, SQLiteDataset)
S3method(col.names, SQLiteDataset)
S3method(connection, SQLiteDataset)
S3method(dim, SQLiteDataset)
S3method(dimnames, SQLiteDataset)
S3method(names, SQLiteDataset)
S3method(print, SQLiteDataset)
S3method(row.name, SQLiteDataset)
S3method(row.names, SQLiteDataset)
S3method(summary, SQLiteDataset)
S3method(table.name, SQLiteDataset)
S3method(with, SQLiteDataset)
S3method(within, SQLiteDataset)
